# =========================
# Python environment
# =========================
# Virtual environments
venv/
env12_7/

# =========================
# Python cache / build
# =========================
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints

# =========================
# Logs / temp files
# =========================
*.log
*.tmp

# =========================
# Preprocessed data
# =========================
# Abaikan semua file di folder housing_preprocessed
preprocessing/housing_preprocessed/*

# Tapi tetap izinkan file utama CSV yang kita butuhkan
!preprocessing/housing_preprocessed/housing_automate_preprocessed.csv